<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">

    <link rel="stylesheet" href="{% static 'css/top.css' %}">
    <title>CraftMarket トップページ</title>
</head>
<body>

    <header>
        <div class="logo">
            <h1>CraftMarket</h1>
        </div>
        <nav>
            <form action="">
                <input type="text">
                <button>探す</button>
            </form>
            <p>
                <a href="">カート</a>
            </p>
            <p>
                <a href="">ログイン</a>
            </p>
            
        </nav>
    </header>
    <section class="slider_section">
        <div class="slider">
            <div class="product">
                <img src="{% static 'images/darkmere.jpg' %}" alt=""  class="div_img">
                <div class="description">
                    <h2 class="user_name">るらりｙ</h2>
                    <h1 class="product_name">ダークメア</h1>
                    <h1 class="price">￥3200</h1>
                    
                    <p>
                        この商品はとてもいい商品です。
                    </p>
                </div>
                
                
            </div>
            <div class="product">
                <img src="{% static 'images/1.webp' %}" alt=""  class="div_img">
                <div class="description">
                    <h2 class="user_name">るらりｙ</h2>
                    <h1 class="product_name">ダークメア</h1>
                    <h1 class="price">￥3200</h1>
                    
                    <p>
                        この商品はとてもいい商品です。
                    </p>
                </div>
            </div>
            <div class="product">
                <img src="{% static 'images/1.webp' %}" alt="" class="div_img">
                <div class="description">
                    <h2 class="user_name">るらりｙ</h2>
                    <h1 class="product_name">ダークメア</h1>
                    <h1 class="price">￥3200</h1>
                    
                    <p>
                        この商品はとてもいい商品です。
                    </p>
                </div>
            </div>
            <div class="product">
                <img src="{% static 'images/1.webp' %}" alt="" class="div_img">
                <div class="description">
                    <h2 class="user_name">るらりｙ</h2>
                    <h1 class="product_name">ダークメア</h1>
                    <h1 class="price">￥3200</h1>
                    
                    <p>
                        この商品はとてもいい商品です。
                    </p>
                </div>
            </div>
            <div class="product">
                <img src="{% static 'images/1.webp' %}" alt="" class="div_img">
                <div class="description">
                    <h2 class="user_name">るらりｙ</h2>
                    <h1 class="product_name">ダークメア</h1>
                    <h1 class="price">￥3200</h1>
                    
                    <p>
                        この商品はとてもいい商品です。
                    </p>
                </div>
            </div>
            <div class="product">
                <img src="{% static 'images/1.webp' %}" alt="" class="div_img">
                <div class="description">
                    <h2 class="user_name">るらりｙ</h2>
                    <h1 class="product_name">ダークメア</h1>
                    <h1 class="price">￥3200</h1>
                    
                    <p>
                        この商品はとてもいい商品です。
                    </p>
                </div>
            </div>
            <div class="product">
                <img src="{% static 'images/1.webp' %}" alt="" class="div_img">
                <div class="description">
                    <h2 class="user_name">るらりｙ</h2>
                    <h1 class="product_name">ダークメア</h1>
                    <h1 class="price">￥3200</h1>
                    
                    <p>
                        この商品はとてもいい商品です。
                    </p>
                </div>
            </div>
            <div class="product">
                <img src="{% static 'images/1.webp' %}" alt="" class="div_img">
                <div class="description">
                    <h2 class="user_name">るらりｙ</h2>
                    <h1 class="product_name">ダークメア</h1>
                    <h1 class="price">￥3200</h1>
                    
                    <p>
                        この商品はとてもいい商品です。
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="category">

    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/slick_cdn.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
</body>
</html>